<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.illotros.snowhaze.urlschemeidentifier.fullurl.insecure</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shtp</string>
				<string>snowhaze-insecure</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.illotros.snowhaze.urlschemeidentifier.fullurl.secure</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shtps</string>
				<string>snowhaze-secure</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.illotros.snowhaze.urlschemeidentifier.control</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shc</string>
				<string>snowhaze-control</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.illotros.snowhaze.urlschemeidentifier.default</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>workflow</string>
		<string>openvpn</string>
		<string>itms-beta</string>
		<string>tel</string>
		<string>facetime</string>
		<string>facetime-audio</string>
		<string>itmss</string>
		<string>mailto</string>
		<string>map</string>
		<string>webcal</string>
		<string>calshow</string>
		<string>ibooks</string>
		<string>music</string>
		<string>http</string>
		<string>https</string>
		<string>music</string>
		<string>videos</string>
		<string>imovie</string>
		<string>googleearth</string>
		<string>comgoogleearth</string>
		<string>duolingo</string>
		<string>evernote</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>fitbit</string>
		<string>flickr</string>
		<string>googlecalendar</string>
		<string>googledocs</string>
		<string>googledrive</string>
		<string>googlegmail</string>
		<string>googlehome</string>
		<string>chromecast</string>
		<string>googlemaps</string>
		<string>googlephotos</string>
		<string>googlesheets</string>
		<string>googletranslate</string>
		<string>googlevoice</string>
		<string>hulu</string>
		<string>imdb</string>
		<string>instagram</string>
		<string>lastpass</string>
		<string>nflx</string>
		<string>paypal</string>
		<string>photoscan</string>
		<string>pinterest</string>
		<string>planner</string>
		<string>podcast</string>
		<string>feed</string>
		<string>powerpoint</string>
		<string>protonmail</string>
		<string>sgnl</string>
		<string>shazam</string>
		<string>skype</string>
		<string>slack</string>
		<string>snapchat</string>
		<string>speedtest</string>
		<string>spotify</string>
		<string>tg</string>
		<string>tgapp</string>
		<string>trello</string>
		<string>twitter</string>
		<string>udemy</string>
		<string>waze</string>
		<string>word</string>
		<string>youtube</string>
		<string>zoomus</string>
		<string>zuludesk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used exclusively for the barcode scanner</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock SnowHaze using Face ID</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SnowHaze needs library access to save images</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>openvpn</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>open vpn settings application shortcut item title</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ch.illotros.snowhaze.application-shortcut.type.open-vpn-settings</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>add_tab</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>add tab application shortcut item title</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ch.illotros.snowhaze.application-shortcut.type.new-tab</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
